purcleapp/__pycache__/
migrations/__pycache__/
Purcle/__pycache__/

purcleapp/_pycache_/
migrations/_pycache_/
Purcle/_pycache_/
db.sqlite3
*.pyc

*.json

/frontend/build/
/frontend/build/*
/node_modules
frontend/node_modules/
.DS_Store
