asgiref==3.5.0
boto3==1.21.30
botocore==1.24.30
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.1
coverage==6.3.1
cryptography==36.0.2
decorator==5.1.1
dj-database-url==0.5.0
Django==4.0.2
django-cors-headers==3.11.0
django-heroku==0.3.1
django-rest-auth==0.9.5
django-rest-knox==4.2.0
djangorestframework==3.13.1
dynaconf==3.1.7
gunicorn==20.1.0
hvac==0.11.2
idna==3.3
Jinja2==3.1.1
jmespath==1.0.0
knox==0.1.14
loguru==0.6.0
MarkupSafe==2.1.1
Pillow==9.0.1
psycopg2==2.9.3
pycparser==2.21
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
s3transfer==0.5.2
shortuuid==1.0.8
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
validators==0.18.2
whitenoise==5.3.0
